@import "../../../shared/colors.scss";

@media screen and (min-width: 960px) {
  .wrapper {
    display: none;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  .logo {
    padding: 0.5rem;
    width: 30%;
    max-width: 140px;
    box-sizing: border-box;
  }
  .button {
    color: blue;
  }
}

.drawer {
  background: $blue;
  padding-top: 8px;

  .button {
    color: white;
  }

  .container {
    padding: 16px;

    .item {
      color: white;
      padding: 8px 0;
    }
  }
}
